

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 750px;
    flex: 0 1 auto;
    border: 3px solid black;
}

.divRow {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.divColumn {
    flex-grow: 1;
    border: 1px solid black;
}

h1, h3 {
    text-align: center;
}
